@charset "UTF-8";
/*¡------ RESET ------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open sans';
  box-sizing: border-box; }

/*! HEADER */
header .encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #ff7b00;
  line-height: 0; }
  header .encabezado .mini-logos {
    margin: 10px;
    display: flex;
    list-style: none; }
    header .encabezado .mini-logos ul {
      margin: 10px;
      display: flex;
      list-style: none; }
      header .encabezado .mini-logos ul li {
        margin: 10px; }

/*! NAV */
nav {
  background: #ff8d21; }
  nav .container-fluid {
    background: #ff8d21;
    padding: 0%; }

/*! MAIN */
main .Novedades-y-Ofertas {
  background: #ff8d21; }
  main .Novedades-y-Ofertas h2 {
    text-align: center; }

main .productos-destacados {
  background: #ffa652;
  padding: 2%; }
  main .productos-destacados h2 {
    text-align: center; }
  main .productos-destacados .grid-destacados {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: 1fr;
    gap: 1em;
    font-family: 'Open sans';
    font-weight: 700;
    position: relative;
    justify-content: center;
    padding: 3%;
    background: #ffa652; }
    main .productos-destacados .grid-destacados .producto {
      max-width: 280px;
      display: flex;
      flex-flow: column;
      border-radius: 6px;
      background-color: white;
      cursor: pointer;
      transition-property: bow shador;
      transition-duration: 0.3s; }
      main .productos-destacados .grid-destacados .producto .producto:hover {
        box-shadow: 0 0 0 1em rgba(186, 23, 23, 0.2); }
      main .productos-destacados .grid-destacados .producto img {
        width: 100%;
        object-fit: cover; }
      main .productos-destacados .grid-destacados .producto .informacion {
        border-top: 1px solid #e6e6e6;
        padding: 1em;
        display: flex;
        flex-flow: column;
        margin-bottom: o 0.5em; }
        main .productos-destacados .grid-destacados .producto .informacion .precio {
          color: black; }
        main .productos-destacados .grid-destacados .producto .informacion .descripcion {
          font-weight: 300;
          font-size: 0.9em; }

main .Busquedas-Relacionadas {
  background: #ffb76b;
  padding: 2%; }
  main .Busquedas-Relacionadas h2 {
    text-align: center; }
  main .Busquedas-Relacionadas .flex-relacionadas .producto {
    max-width: 280px;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 0 0.1em black;
    background-color: white;
    cursor: pointer;
    transition-property: bow shador;
    transition-duration: 0.3s; }
    main .Busquedas-Relacionadas .flex-relacionadas .producto img {
      width: 100%;
      object-fit: cover; }
    main .Busquedas-Relacionadas .flex-relacionadas .producto .informacion {
      border-top: 1px solid #e6e6e6;
      padding: 1em;
      display: flex;
      flex-flow: column; }
      main .Busquedas-Relacionadas .flex-relacionadas .producto .informacion .precio {
        color: black; }
      main .Busquedas-Relacionadas .flex-relacionadas .producto .informacion .descripcion {
        font-weight: 300;
        font-size: 0.9em; }

main .flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  background: #ffcd90;
  padding: 3%;
  margin: 0; }
  main .flex form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border-radius: 1em; }
    main .flex form ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      main .flex form ul li {
        margin-top: 1%; }
        main .flex form ul li label {
          display: inline-block;
          width: 90px;
          text-align: right; }
        main .flex form ul li input {
          font: 'Open sans';
          width: 300px;
          box-sizing: border-box;
          border: 1px solid #ff7b00; }
        main .flex form ul li textarea {
          font: 'Open sans';
          width: 300px;
          box-sizing: border-box;
          border: 1px solid #ff7b00; }
      main .flex form ul .button {
        padding-left: 90px;
        list-style: none; }
        main .flex form ul .button button {
          margin-left: 1%; }
  main .flex iframe {
    width: 60%;
    height: 300px;
    margin-right: 20px; }

/*!FOOTER*/
.flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  background: #fff4df; }
  .flex-footer .flex-informacion ol li {
    list-style: none; }
    .flex-footer .flex-informacion ol li a {
      text-decoration: none;
      color: black; }
  .flex-footer .flex-siguenos {
    margin: 20px;
    padding: 2%; }
