/*¡------ RESET ------*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Open sans';
	box-sizing: border-box;



}



/*------ HEADER ------*/
header .encabezado {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background: #ff7b00;
	line-height: 0;
}

header section ul li {
	margin: 10px;

}

header .buscador {
	position: absolute;
	left: 48%;
}

header section ul {
	display: flex;
	list-style: none;
}

.frase h3 {
	text-align: center;
}




/*------NAVEGACION------!*/
.container-fluid {
	background: #ff8d21;
	padding: 0%;
}

nav {
	background: #ff8d21;
}

/*¡------ MAIN ------!*/

.Novedades-y-Ofertas {
	background: #ff8d21;
}


h2 {
	text-align: center;

}

.grid-destacados {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, 280px);
	grid-template-rows: 1fr;
	gap: 1em;
	font-family: 'Open sans';
	font-weight: 700;
	position: relative;
	justify-content: center;
	padding: 3%;
	background: #ffa652;
}

.seccion-articulos {
	background: #ffa652;
	padding: 0%;
}

.productos-destacados {
	background: #ffa652;
	padding: 2%;
}

.Busquedas-Relacionadas {
	background: #ffb76b;
	padding: 2%;
}

.producto {
	max-width: 280px;
	display: flex;
	flex-flow: column;
	border-radius: 6px;
	box-shadow: 0 0 0.1em rgb(0, 0, 0, 0.2);
	background-color: white;
	cursor: pointer;
	transition-property: bow shador;
	transition-duration: 0.3s;
}

.producto:hover {
	box-shadow: 0 0 0 1.0em rgba(186, 23, 23, 0.2);
	;
}

.producto>img {
	width: 100%;
	object-fit: cover;
}

.informacion {
	border-top: 1px solid rgb(230, 230, 230);
	padding: 1em;
	display: flex;
	flex-flow: column;

}

.informacion *+* {
	margin-bottom: 0.5em;
}

.precio {
	color: black;
}

.descripcion {
	font-weight: 300;
	font-size: 0.9em;
}

.flex-relacionadas {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	padding: 3%;
}

.flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
	background: #ffcd90;
	padding: 3%;
	margin: 0;
}

form {
	margin: 0 auto;
	width: 400px;
	padding: 1em;
	border-radius: 1em;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

form li+li {
	margin-top: 1%
}

label {
	display: inline-block;
	width: 90px;
	text-align: right;
}

input,
textarea {
	font: 'Open sans';
	width: 300px;
	box-sizing: border-box;
	border: 1px solid #ff7b00;
}


textarea {
	vertical-align: top;
	height: 5em;
}

.button {
	padding-left: 90px;
	list-style: none;
}

button {
	margin-left: 1%
}

button:hover {
	color: #ff7b00;
}

iframe {
	width: 60%;
	height: 300px;
	margin-right: 20px;
}











/*¡------ FOOTER ------!*/
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	background: #fff4df;
}



.flex-siguenos {
	margin: 20px;
	padding: 2%;
}

footer ol li {
	list-style: none;
}

footer section ol li a {
	text-decoration: none;
	color: black
}

footer section ol li a:hover {
	color: #ff8d21
}

/*!CONTACTANENOS*/
.contactenos{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}




/*!---MEDIA QUERY---*/
@media screen and (max-width:450px){
	.mini-logos{
		display: grid;
	}
	.flex-relacionadas{
		display: grid;
	}
	.flex{
		display: flex;
		flex-direction: column;
	}

}
