/*¡------ RESET ------*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Open sans';
	box-sizing: border-box;



}

.contactenos{
	padding: 5%;
	margin: 0;
	
}

.registro{
	margin:5px;
}

.registrarse:hover{
	background-color: #ff7b00;
}

main{
    .seccion-articulos{
        background: #ff8d21;
    }
}