/*¡------ RESET ------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open sans';
    box-sizing: border-box;



}

/*ESTILOS APLICADOS A NAVBAR BOOTSTRAP*/
nav {
    background: $color-2;

    .container-fluid {
        background: $color-2;
        padding: 0%;

        form {
            margin: 1%;

            input {
                width: 100%;
                padding: auto;
            }

            button {
                padding: 5%;
            }
        }
    }
}

/*ESTILOS APLICADOS EN TODOS LOS H2 DEL PROYECTO*/
h2 {
    text-align: center;
}

/*MIXIM*/
@mixin producto() {
    max-width: 280px;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgb( 0, 0, 0.2);
    background-color:#ffff;
    cursor: pointer;
    transition-property:bow shador;
    transition-duration: 0.3s;

}

@mixin img () {
    width: 100%;
    object-fit: cover;
}

@mixin informacion () {
    border-top: 1px solid rgb(230, 230, 230);
    padding: 1em;
    display: flex;
    flex-flow: column;
}