/*¡------ RESET ------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open sans';
    box-sizing: border-box;



}

/*ESTILOS APLICADOS A NAVBAR BOOTSTRAP*/
nav {
    background: $color-2;

    .container-fluid {
        background: $color-2;
        padding: 0%;

        form {
            margin: 1%;

            input {
                width: 100%;
                padding: auto;
            }

            button {
                padding: 5%;
            }
        }
    }
}

/*ESTILOS APLICADOS EN TODOS LOS H2 DEL PROYECTO*/
h2 {
    text-align: center;
}

