/*MEDIA QUERIES APLICADAS PARA VISTA MOBILE*/
@media screen and (max-width:450px) {
    header {
        .encabezado {
            display: flex;
            flex-direction: column-reverse;

            .carrusel-promo {
                align-content: start;
            }
        }

        .mini-logos {
            li {
                display: none
            }
        }
    }

    nav {
        .container-fluid {
            padding: 10px;

            div {
                .d-flex {
                    padding: 18%;
                    height: auto;
                    width: auto;
                }
            }
        }
    }

    main {
        overflow-x: hidden;

        .productos-destacados {
            .grid-destacados {
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                grid-template-rows: 1fr;
                justify-content: center;
                gap: 1em;
                padding: 10%;
            }
        }

        .Busquedas-Relacionadas {
            .flex-relacionadas {
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                grid-template-rows: 1fr;
                justify-content: center;
                gap: 1em;
                padding: 10%;
            }
        }

        .flex {
            display: flex;
            flex-direction: column;
            width: auto;
            height: auto;
            padding-left: 5%;

            .formulario-mensaje{
                form {
                    ul {
                        margin: 20px;
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }

    footer{
        display: inline-block;
        width: 100%;

        .flex-copy {
            padding: 5%;
            text-align: center;
        }

        .flex-siguenos {
            display: none;
        }

    }
}


/*MQ APLICADA A LAS DIFERENTES SECCION CON PRODUCTOS*/
@media screen and (max-width:450px){ 


.seccion-articulos{
    .grid-destacados{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 1fr;
        justify-content: center;
        gap: 1em;
        padding: 10%;
    }
}
}

/*MQ APLICADA A NAVBAR FIJA PIE DE PAGINA*/
@media screen and (max-width:450px){
    footer{
        .navbar-mobile{
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            height: 60px;
            z-index: 1001;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    
            ul{
                background: #ff7b00;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                padding: 20px;
            }
        }
    }
}
@media  screen and (min-width:451px) {
    footer{
        .navbar-mobile{
            visibility: hidden;
        }
    }
    
}