/*!---MEDIA QUERY---*/
@media screen and (max-width:450px){
    header{
        .encabezado{
            .mini-logos{
                display: grid;
            }
        }
    }

    .Busquedas-Relacionadas{
        .flex-relacionadas{
            display: grid;
        }
    }
    .flex{
		display: flex;
		flex-direction: column;
	}


}