/*!---MEDIA QUERY---*/
@media screen and (max-width:450px){
    header{
        .encabezado{
            display: flex;
		    flex-direction: column-reverse;
            .logo{

            }
            .carrusel-promo{
                align-content: start;
            }
            .mini-logos{
                display: none
            }
        
        }
    }

    nav{
        .container-fluid{
            .d-flex{
                padding: 18%;
                height: auto;
                width: auto;

            }
        }
    }

    main{
        overflow-x: hidden;
        .Novedades-y-Ofertas{

        }
        .productos-destacados{
            h2{

            }
            .grid-destacados{
                display: grid;
                grid-template-columns: repeat(2,2fr) ;
                grid-template-rows: 1fr ; 
                justify-content: center;
                gap: 1em;
                padding: 10%;
                .producto{
                    img{

                    }
                    .informacion{

                    }
                    .descripcion{

                    }
                    .comprar{
                            
                    }


                }

            }
        }
        .Busquedas-Relacionadas{
            display: grid;
            grid-template-columns: repeat(2,2fr) ;
            grid-template-rows: 1fr ; 
            justify-content: center;
            gap: 1em;
            padding: 10%;
            h2{

            }
            .flex-relacionadas{
                display: grid;
                .producto{
                    img{

                    }
                    .informacion{

                    }
                    .descripcion{

                    }
                    .comprar{
                            
                    }
                }
            }
        }
        .flex{
            display: flex;
            flex-direction: column;
            width: auto;
            height: auto;
            h2{

            }
            .formulario-mensaje{

            }
            form{
                ul{
                    width: auto;
                    height: auto;
                    li{
                        label{

                        }
                        input{

                        }
                    }
                }
                .button{

                }
            }
            iframe{

            }
        }
    }
    .flex-footer{
        display: inline-block;
        flex-informacion{
            ol{
                li{
                    a{

                    }
                };
            }
        }
        flex-copy{
            padding:5%;
            text-align: center;

        }
        flex-siguenos{
            display: none;
            a{

            }

        }
    }
}